<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Hockeypuck OpenPGP Keyserver Statistics"
    />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <title>Hockeypuck OpenPGP Keyserver Statistics</title>
  </head>
  <body>
    <noscript>
      <h1>Hockeypuck OpenPGP Keyserver Statistics</h1>
      Taken at {{ .Now }}
      <h2 id="settings">Settings</h2>
      <table>
        <tr><th>Hostname</th><td>{{ .Hostname }}</td></tr>
        {{ if .Nodename }}<tr><th>Nodename</th><td>{{ .Nodename }}</td></tr>{{ end }}
        <tr><th>Version</th><td>{{ .Version }}</td></tr>
        {{ if .Contact }}<tr><th>Server Contact</th><td><a href="/pks/lookup?op=index&fingerprint=on&search={{ .Contact }}">{{ .Contact }}</a></td></tr>{{ end }}
        <tr><th>HTTP</th><td>{{ .HTTPAddr }}</td></tr>
        <tr><th>Recon</th><td>{{ .ReconAddr }}</td></tr>
      </table>

      <h3 id="gossip-peers">Gossip Peers</h3>
      <table><tr><th>Name</th><th>HTTP</th><th>Recon</th><th>Recon Status</th><th>Recovery Status</th></tr>
      {{ range $peer := .Peers }}<tr><td>{{ $peer.Name }}</td><td><a href="http://{{ $peer.HTTPAddr }}{{ $peer.StatsPath }}">{{ $peer.HTTPAddr }}</a></td><td>{{ $peer.ReconAddr }}</td><td>{{ $peer.ReconStatus }}</td><td>{{ $peer.RecoveryStatus }}</td></tr>
      {{ end }}</table>

      <h2 id="statistics">Statistics</h2>
      Total number of keys: {{ .Total }}

      <h3 id="daily-histogram">Daily Histogram</h3>
      <table><tr><th>Day</th><th>New Keys</th><th>Updated Keys</th><th>Removed Keys</th></tr>
      {{ range $stats := .Daily }}<tr><td>{{ day $stats.Time }}</td><td>{{ $stats.Inserted }}</td><td>{{ $stats.Updated }}</td><td>{{ $stats.Removed }}</td></tr>
      {{ end }}</table>

      <h3 id="hourly-histogram">Hourly Histogram</h3>
      <table><tr><th>Hour</th><th>New Keys</th><th>Updated Keys</th><th>Removed Keys</th></tr>
      {{ range $stats := .Hourly }}<tr><td>{{ hour $stats.Time }}</td><td>{{ $stats.Inserted }}</td><td>{{ $stats.Updated }}</td><td>{{ $stats.Removed }}</td></tr>
      {{ end }}</table>
    </noscript>
    <div id="root"></div>
    <script type="module" src="/src/index.jsx"></script>
  </body>
</html>
